.normal {
  background-color: transparent !important;

  &:hover {
    color: black !important;
  }
}

.noBackground-textwhite {
  background-color: transparent !important;
  color: white !important;

  &:hover {
    color: white !important;
  }
}

.greendBackground {
  background-color: #50a994 !important;
  color: white !important;

  &:hover {
    color: white !important;
  }
}

.greendBorder {
  border-color: #50a994 !important;
  background-color: transparent !important;
  color: black !important;

  &:hover {
    color: black !important;
  }
}

.smallCircle {
  padding-left: 4px !important;
  padding-right: 28px !important;
  padding-bottom: 30px !important;
  height: 20px !important;
  width: 20px !important;
}

.mediumCircle {
  padding-top: 6px !important;
  padding-left: 4px !important;
  height: 45px;
  width: 45px !important;
}

.largeCircle {
  padding-top: 6px !important;
  padding-left: 4px !important;
  height: 60px;
  width: 60px !important;
}

.small {
  border-radius: 20px !important;
  height: 40px;
  min-width: 80px;
}

.medium {
  height: 45px;
  border-radius: 25px !important;
}


.submit {
  background-color: #50a994 !important;
  margin: 8px auto;
  border-radius: 40px !important;
  width: 100%;
  height: 60px;
  border-color: transparent !important;
  color: white !important;
  font-weight: 600;

  &:hover {
    border-color: transparent !important;
    color: white !important;
  }
}