/* margin-top */
.mt-0 {
    margin-top: 0px !important;
}

.mt-1 {
    margin-top: 1px !important;
}

.mt-2 {
    margin-top: 2px !important;
}

.mt-3 {
    margin-top: 3px !important;
}

.mt-4 {
    margin-top: 4px !important;
}

.mt-5 {
    margin-top: 5px !important;
}

.mt-6 {
    margin-top: 6px !important;
}

.mt-7 {
    margin-top: 7px !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-9 {
    margin-top: 9px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-11 {
    margin-top: 11px !important;
}

.mt-12 {
    margin-top: 12px !important;
}

.mt-13 {
    margin-top: 13px !important;
}

.mt-14 {
    margin-top: 14px !important;
}

.mt-15 {
    margin-top: 15px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-17 {
    margin-top: 17px !important;
}

.mt-18 {
    margin-top: 18px !important;
}

.mt-19 {
    margin-top: 19px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-21 {
    margin-top: 21px !important;
}

.mt-22 {
    margin-top: 22px !important;
}

.mt-23 {
    margin-top: 23px !important;
}

.mt-24 {
    margin-top: 24px !important;
}

.mt-25 {
    margin-top: 25px !important;
}

.mt-26 {
    margin-top: 26px !important;
}

.mt-27 {
    margin-top: 27px !important;
}

.mt-28 {
    margin-top: 28px !important;
}

.mt-29 {
    margin-top: 29px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-31 {
    margin-top: 31px !important;
}

.mt-32 {
    margin-top: 32px !important;
}

.mt-33 {
    margin-top: 33px !important;
}

.mt-34 {
    margin-top: 34px !important;
}

.mt-35 {
    margin-top: 35px !important;
}

.mt-36 {
    margin-top: 36px !important;
}

.mt-37 {
    margin-top: 37px !important;
}

.mt-38 {
    margin-top: 38px !important;
}

.mt-39 {
    margin-top: 39px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-41 {
    margin-top: 41px !important;
}

.mt-42 {
    margin-top: 42px !important;
}

.mt-43 {
    margin-top: 43px !important;
}

.mt-44 {
    margin-top: 44px !important;
}

.mt-45 {
    margin-top: 45px !important;
}

.mt-46 {
    margin-top: 46px !important;
}

.mt-47 {
    margin-top: 47px !important;
}

.mt-48 {
    margin-top: 48px !important;
}

.mt-49 {
    margin-top: 49px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-51 {
    margin-top: 51px !important;
}

.mt-52 {
    margin-top: 52px !important;
}

.mt-53 {
    margin-top: 53px !important;
}

.mt-54 {
    margin-top: 54px !important;
}

.mt-55 {
    margin-top: 55px !important;
}

.mt-56 {
    margin-top: 56px !important;
}

.mt-57 {
    margin-top: 57px !important;
}

.mt-58 {
    margin-top: 58px !important;
}

.mt-59 {
    margin-top: 59px !important;
}

.mt-60 {
    margin-top: 60px !important;
}

.mt-61 {
    margin-top: 61px !important;
}

.mt-62 {
    margin-top: 62px !important;
}

.mt-63 {
    margin-top: 63px !important;
}

.mt-64 {
    margin-top: 64px !important;
}

.mt-65 {
    margin-top: 65px !important;
}

.mt-66 {
    margin-top: 66px !important;
}

.mt-67 {
    margin-top: 67px !important;
}

.mt-68 {
    margin-top: 68px !important;
}

.mt-69 {
    margin-top: 69px !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.mt-71 {
    margin-top: 71px !important;
}

.mt-72 {
    margin-top: 72px !important;
}

.mt-73 {
    margin-top: 73px !important;
}

.mt-74 {
    margin-top: 74px !important;
}

.mt-75 {
    margin-top: 75px !important;
}

.mt-76 {
    margin-top: 76px !important;
}

.mt-77 {
    margin-top: 77px !important;
}

.mt-78 {
    margin-top: 78px !important;
}

.mt-79 {
    margin-top: 79px !important;
}

.mt-80 {
    margin-top: 80px !important;
}