.titleFlexStart {
  [class*='ant-modal-header'] {
     justify-content: flex-start !important;
   }
 }
.status {
  margin-top: 27px !important;
}

.checkbox {
  color: #FFFFFF;
  font-weight: normal;
  font-size: 14px !important;
  line-height: 19px !important;
}