.title {
  line-height: 19px;
  font-weight: bold;
  margin-left: 8px;
  color: #222d4b;
}

.itemlabel {
  line-height: 19px;
  margin-left: 25px;
}

.optionSelected {
  background-color: #d3f7ff;
  font-weight: 600;
}
