@mixin setLabel($colorLabel) {
  top: -0.4em;
  font-size: 12px !important;
  z-index: 3;
  color: $colorLabel;
}

.fieldWrapper {
  display: block;
  position: relative;
  background: #ffffff;
  border-radius: 8px;

  .formControl {
    height: 40px;
    z-index: 2;
    box-shadow: none !important;
    background-color: transparent !important;
  }

  input {
    z-index: 3;
  }

  label {
    position: absolute;
    cursor: text;
    font-size: 16px !important;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    top: 1em;
    left: 0.75rem;
    z-index: 1;
    line-height: 9px;
    padding: 0 1px;
    color: #868e96;
    background-color: transparent;

    .redStar {
      color: red;
      margin-left: 5px;
    }

    &::after {
      content: ' ';
      display: block;
      position: absolute;
      background: #fff;
      height: 1px;
      top: 50%;
      left: -0.1em;
      right: -0.2em;
      z-index: -1;
    }
  }

  .labelFocus {
    @include setLabel(#1574f6);
  }

  .selectHasValue {
    @include setLabel(#212529);
  }
}
